/* blue navbar */
.navbar-custom {
  background-color: #3072aa;
  border-color    : #225177;
  text-shadow     : none;
}

.navbar-custom .logo {
  margin: 12px 10px 12px 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a {
  color: #FFF;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > li > a:active,
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #296a90;
}

.navbar-custom .navbar-link {
  color: #ffffff;
}

.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}

.navbar-custom .navbar-toggle {
  border-color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  border-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-custom .navbar-toggle.collapsed {
  background: transparent;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-custom .dropdown-menu {
  width: 40em;
  padding: 0;
}

@media (max-width: 767px) {
  .navbar-nav {
      margin: 15px 0px;
  }
  .navbar-custom .navbar-nav .open > a {
    border-radius: 4px 4px 0 0;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu {
    background: rgba(255, 255, 255, 0.8);
    width: auto;
  }
  .navbar-custom .logo {
    margin: 12px 0 12px 15px;
  }
}

/* -------------------------------------------------------------------------- */
.normal-weight {
  font-weight: normal;
}
hr {
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed rgba(255, 255, 255, 1);
}
hr.solid {
  border-style: solid;
  border-top: 1px double rgba(138, 109, 60, 0.4);
  margin: -5px 0 10px;
}
.panel-body.navbar-default, .panel-heading {
  text-shadow: 0 1px 0 #FFF;
}
.panel-primary .panel-heading {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.dropdown-menu {
  min-width: 100%;
}
.disabled {
  color: #777;
  text-shadow: 0 1px 0 #FFF;
  cursor: default !important;
}
*.btn.disabled {
  pointer-events: none;
  background: #EEE;
  border-color: #AAA;
}
.form-group {
  margin-bottom: 15px;
}
/* .form-group > hr {
  margin: 10px 0;
} */
textarea {
  resize: vertical;
  transform: translateZ(0);
}

body.loaded .highlighted,
body.loaded .form-control[disabled].highlighted,
body.loaded .form-control[readonly].highlighted,
body.loaded fieldset[disabled] .form-control.highlighted {
  background: rgb(200, 255, 100);
  transition: none;
}

body.loaded .un-highlighted {
  transition: all 1s ease-in-out 0.2s;
  background: #FFF;
}

body.loaded .form-control[disabled].un-highlighted,
body.loaded .form-control[readonly].un-highlighted,
body.loaded fieldset[disabled] .form-control.un-highlighted {
  transition: all 1s ease-in-out 0.2s;
  background: #EEE;
}

.btn-group .btn-default {
  color: #777;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.btn-group .btn-default.active {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
  z-index: 2;
}

#jwks-json {
  white-space: nowrap;
  word-wrap: normal;
  height: 112px;
  min-height: 112px;
}

.auth-header > label,
.auth-header > div {
  margin: 0 0 4px;
}
